<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- nav 导航 -->
    <div id="nav">
        <span>
            <a href="#">我的账户</a>｜<a href="#">订单查询</a>｜<a href="#">我的优惠券</a>｜<a href="#">积分换购</a>｜<a href="#">购物交流</a>｜<a href="#">帮助中心</a>
        </span>
        你好，欢迎来到忧伤购物 [ <a="" href="#" >登陆</a>/注册</a>]
    </div>
    <!-- logo -->
    <div id="logo">
        <div class="logo_left"><a href="#"><img src="/Users/liujiaqi/Downloads/Test_project01/.vscode/imgs/sp_icon.webp" style="border: 0px; height: 20pxpx;width: 30px;"></a></div>
        <div class="logo_center">
            <!--<form action="value">向何处发送表单数据。
可能的值：
绝对 URL - 指向其他站点（比如 src="www.example.com/example.htm"）
相对 URL - 指向站点内的文件（比如 src="example.htm"）  -->
            <div class="search"><form action=""method="get">
                <div class="search_text">
                    <input type="text" value="请输入产品名称和订单号" class="input_text"/>
                </div>
                <div class="search_btn"><a href="#"><img src="/Users/liujiaqi/Downloads/Test_project01/.vscode/imgs/search_icon.webp" style="border:0px;height: 20px;width: 15px";></a></div>
            </form></div>
                
        </div>
    </div>
</body>
</html>